In [1]:
import pandas as pd
import sys
pd.set_option("display.max_columns", 200)

In [6]:
# Data Input

file_name = "101._Amanpur"
last_ps_no = 365
consti_name = "Etah"
total_ind_parties = 5
lst_of_parties = ["CPI","BJP","SP","INC","BSP","QED",
                  "AIPF","BMP","AAP","SSP","CPI-M","IND",
                  "IND","IND"]
# lst_of_parties = ["SP","BJP","RSSP","SBSP",	"RBP",
#                   	"BSCP",	"RKP", "PSP", "JAP",	
#                     "IND ( Ashok Kumar )",	"IND ( Indrapal )",	
#                     "IND ( Parvati Nandan )",	
#                     "IND ( Satendra Kumar Panda )", "IND ( Hari Om )"]

In [7]:
# Version 1 without NOTA Creation

# Read the file
df = pd.read_excel(r"C:\Users\Aakash D\Downloads\Analytics\Self Paced Projects\Data Cleaning Automation\101._Amanpur.xls", header = None)
#Drop the redundant rows
# for the first rows
df = df.drop(range(df[df[1] == 1].index[0])).reset_index(drop=True)

# for the last row
df = df.iloc[0:((df[df[1] == last_ps_no].index[0])+1),:]

# Setting up numerical Col Names
perma_col_alpha = 10
perma_col_omega = 2
abs_col_freq = perma_col_alpha + len(lst_of_parties) + (len(lst_of_parties)*2) + perma_col_omega

# Nota Columns Check
add_cols = (df.shape[1] - abs_col_freq)
if abs_col_freq != df.shape[1]:
  df.columns = [col for col in range(1,abs_col_freq+(add_cols + 1))]
  if add_cols == 2:
    sdw_nota = True
  elif add_cols == 1:
    sdw_nota = "one"
  else:
    sdw_nota = "Greater than 2"
    print("Multiple Columns Detected Before NOTA, Terminating Processing")
    sys.exit()
else:
  df.columns = [col for col in range(1,abs_col_freq+1)]
  sdw_nota = False

# dropping the total_electors and EPIC column
redun_cols = [4,9]
df = df.drop(columns=redun_cols, axis= 1)

df.fillna(0, inplace= True)

#--------------------------------------------------------------------------
#Segregation
# Start_part_segregation
start_part = df.iloc[:, :8]
start_part = start_part.copy()

# Seg #1
start_part_seg_1 = start_part.iloc[:, :3]
start_part_seg_1 = start_part_seg_1.copy()

start_part_seg_1["S.No."] = range(1, last_ps_no+1)
start_part_seg_1_Sno = start_part_seg_1.iloc[:, -1:].astype(int)
start_part_seg_1_Sno = start_part_seg_1_Sno.copy()

start_part_seg_1.drop(start_part_seg_1.iloc[:, -1:], axis = 1, inplace = True)
start_part_seg_1.drop(start_part_seg_1.iloc[:, [0]], axis = 1, inplace = True)

# Seg #2
start_part_seg_2 = start_part.iloc[:, 3:]
start_part_seg_2 = start_part_seg_2.copy()

seg_2_cols = [cols for cols in start_part_seg_2]
start_part_seg_2[seg_2_cols] = start_part_seg_2[seg_2_cols].replace('', 0)
start_part_seg_2[seg_2_cols] = start_part_seg_2[seg_2_cols].astype(int)

# Organization of Tendered voters
start_part_seg_2_ten = start_part_seg_2.iloc[:, -1:]

# Total Votes Calc
start_part_seg_2.drop(start_part_seg_2.columns[-2:], axis=1, inplace=True)
start_part_seg_2["Total"] = start_part_seg_2[[col for col in start_part_seg_2.columns]].sum(axis=1).astype(int)


start_part_seg_2 = pd.concat([start_part_seg_2, start_part_seg_2_ten], axis=1)


#--------------------------------------------------------------------------

# Mid Part segmentation
mid_part = df.iloc[:, 8:(abs_col_freq - perma_col_omega - len(redun_cols))] # abs party segment
mid_part = mid_part.copy()
# Cleaned party Seg
mid_part = mid_part.iloc[:, 2::3]
mid_part = mid_part.copy()

mid_part_cols = [col for col in mid_part.columns]
mid_part[mid_part_cols] = mid_part[mid_part_cols].replace('', 0)
mid_part[mid_part_cols] = mid_part[mid_part_cols].astype(int)

# Mid-part Calculation

# For IND TOTAL Calc
mid_part_ind = mid_part.iloc[:, - total_ind_parties:]
mid_part_ind = mid_part_ind.copy()
mid_part_ind["IND (TOTAL)"] = mid_part_ind[[col for col in mid_part_ind.columns]].sum(axis=1).astype(int)
mid_part_ind_seg = mid_part_ind.iloc[:, -1:]
mid_part_ind_seg = mid_part_ind_seg.copy()

# For Total Valid Votes Calc
mid_part["Total Valid Votes"] = mid_part[[col for col in mid_part.columns]].sum(axis=1).astype(int)
mid_part_val = mid_part.iloc[:, -1:]
mid_part_val = mid_part_val.copy()

mid_part.drop(mid_part.iloc[:, -1:], axis = 1, inplace=True)

#---------------------------------------------------------------------------

# End Part Segmentation
if sdw_nota == True:
  end_part = df.iloc[:, -4:]
  end_part.drop(end_part.iloc[:, 0:2], axis=1, inplace=True)

elif sdw_nota == "one":
  end_part = df.iloc[:, -3:]
  end_part.drop(end_part.iloc[:, [0]], axis=1, inplace=True)

else:
  sdw_nota == False
  end_part = df.iloc[:, -2:]

end_part_cols = [col for col in end_part.columns]
end_part[end_part_cols] = end_part[end_part_cols].replace('', 0)
end_part[end_part_cols] = end_part[end_part_cols].astype(int)

end_part = end_part.copy()

# End Part Organization
end_part_nota = end_part.iloc[:, [-2]]
end_part_nota = end_part_nota.copy()
# Calc of Rejected Votes
end_part_nota["Rejected Votes"] = 0
end_part_rej = end_part_nota.iloc[:, -1:]

# Dropping the extra Rejected Votes Column
end_part_nota.drop(end_part_nota.iloc[:, -1:], axis=1, inplace=True)


#----------------------------------------------------------------------------

# Assignment of Original Column Names

alpha_seg_1_S = ["S.No."]
alpha_seg_1 = ["P.S.No.", "Constituency"]
alpha_seg_2 = ["Male", "Female", "Others", "Total", "No. of Ten-dered Voters"]
parties = lst_of_parties 
mid_part_seg_1 = ["IND (TOTAL)"]
mid_part_seg_2 = ["Total Valid Votes"]
omega_seg_1= ["NOTA"]
omega_seg_2 = ["Rejected Votes"]

final_cols = alpha_seg_1_S + alpha_seg_1 + parties + mid_part_seg_1 + omega_seg_1 + mid_part_seg_2 + alpha_seg_2 + omega_seg_2 

# Concatenation for a Final Dataframe

df = pd.concat([start_part_seg_1_Sno, start_part_seg_1, mid_part, mid_part_ind_seg, end_part_nota, mid_part_val, start_part_seg_2, end_part_rej], axis=1)
df.columns = final_cols

#----------------------------------------------------------------------------

# Fixing the Constituency name

df["Constituency"] = consti_name

# -----------------------------------------------------------------------------

# Data Integrity Check Function

# checking the total valid votes and Total columns

def sum_integrity(df, val_votes, nota, total):
    flag = 0
    for index, row in df.iterrows():
        sum_value = row[val_votes] + row[nota]
        if sum_value == row[total]:
            print(f"Sum MATCHED for Row {index}, Data Integrity Valid")
        else:
            print(f"Sum DID NOT MATCH for Row {index}, Data Integrity Check FAILED")
            flag += 1
    flag_limit = 10
    if flag <= flag_limit:
        print(f"Sum Integrity Check Successful, the value of flags is {flag}")
    else:
        print(f"Sum Integrity Check Failed as value of Flags is {flag}")
    if flag <= flag_limit:
        return "Data Integrity Successful"
    else:
        return "Data Integrity Unsuccessful"

data_integrity_result = sum_integrity(df, "Total Valid Votes", "NOTA", "Total")

#-----------------------------------------------------------------------------

if data_integrity_result == "Data Integrity Successful":
    print("Form 20 READY FOR CONVERSION TO .XLSX")
    df.to_excel(f"{file_name}_processed.xlsx", index=False)
    print("FORM 20 Successfully Converted")
    print(df.shape)
else:
    print(f"Data Integrity Check was Unsuccessful as Flags are greater than the current flag limit, Advice Caution before Conversion")

df.head(15)

Sum MATCHED for Row 0, Data Integrity Valid
Sum MATCHED for Row 1, Data Integrity Valid
Sum MATCHED for Row 2, Data Integrity Valid
Sum MATCHED for Row 3, Data Integrity Valid
Sum MATCHED for Row 4, Data Integrity Valid
Sum MATCHED for Row 5, Data Integrity Valid
Sum MATCHED for Row 6, Data Integrity Valid
Sum MATCHED for Row 7, Data Integrity Valid
Sum MATCHED for Row 8, Data Integrity Valid
Sum MATCHED for Row 9, Data Integrity Valid
Sum MATCHED for Row 10, Data Integrity Valid
Sum MATCHED for Row 11, Data Integrity Valid
Sum MATCHED for Row 12, Data Integrity Valid
Sum MATCHED for Row 13, Data Integrity Valid
Sum MATCHED for Row 14, Data Integrity Valid
Sum MATCHED for Row 15, Data Integrity Valid
Sum MATCHED for Row 16, Data Integrity Valid
Sum MATCHED for Row 17, Data Integrity Valid
Sum MATCHED for Row 18, Data Integrity Valid
Sum MATCHED for Row 19, Data Integrity Valid
Sum MATCHED for Row 20, Data Integrity Valid
Sum MATCHED for Row 21, Data Integrity Valid
Sum MATCHED for Row 22, Data Integrity Valid
Sum MATCHED for Row 23, Data Integrity Valid
Sum MATCHED for Row 24, Data Integrity Valid
Sum MATCHED for Row 25, Data Integrity Valid
Sum MATCHED for Row 26, Data Integrity Valid
Sum MATCHED for Row 27, Data Integrity Valid
Sum MATCHED for Row 28, Data Integrity Valid
Sum MATCHED for Row 29, Data Integrity Valid
Sum MATCHED for Row 30, Data Integrity Valid
Sum MATCHED for Row 31, Data Integrity Valid
Sum MATCHED for Row 32, Data Integrity Valid
Sum MATCHED for Row 33, Data Integrity Valid
Sum MATCHED for Row 34, Data Integrity Valid
Sum MATCHED for Row 35, Data Integrity Valid
Sum MATCHED for Row 36, Data Integrity Valid
Sum MATCHED for Row 37, Data Integrity Valid
Sum MATCHED for Row 38, Data Integrity Valid
Sum MATCHED for Row 39, Data Integrity Valid
Sum MATCHED for Row 40, Data Integrity Valid
Sum MATCHED for Row 41, Data Integrity Valid
Sum MATCHED for Row 42, Data Integrity Valid
Sum MATCHED for Row 43, Data Integrity Valid
Sum MATCHED for Row 44, Data Integrity Valid
Sum MATCHED for Row 45, Data Integrity Valid
Sum MATCHED for Row 46, Data Integrity Valid
Sum MATCHED for Row 47, Data Integrity Valid
Sum MATCHED for Row 48, Data Integrity Valid
Sum MATCHED for Row 49, Data Integrity Valid
Sum MATCHED for Row 50, Data Integrity Valid
Sum MATCHED for Row 51, Data Integrity Valid
Sum MATCHED for Row 52, Data Integrity Valid
Sum MATCHED for Row 53, Data Integrity Valid
Sum MATCHED for Row 54, Data Integrity Valid
Sum MATCHED for Row 55, Data Integrity Valid
Sum MATCHED for Row 56, Data Integrity Valid
Sum MATCHED for Row 57, Data Integrity Valid
Sum MATCHED for Row 58, Data Integrity Valid
Sum MATCHED for Row 59, Data Integrity Valid
Sum MATCHED for Row 60, Data Integrity Valid
Sum MATCHED for Row 61, Data Integrity Valid
Sum MATCHED for Row 62, Data Integrity Valid
Sum MATCHED for Row 63, Data Integrity Valid
Sum MATCHED for Row 64, Data Integrity Valid
Sum MATCHED for Row 65, Data Integrity Valid
Sum MATCHED for Row 66, Data Integrity Valid
Sum MATCHED for Row 67, Data Integrity Valid
Sum MATCHED for Row 68, Data Integrity Valid
Sum MATCHED for Row 69, Data Integrity Valid
Sum MATCHED for Row 70, Data Integrity Valid
Sum MATCHED for Row 71, Data Integrity Valid
Sum MATCHED for Row 72, Data Integrity Valid
Sum MATCHED for Row 73, Data Integrity Valid
Sum MATCHED for Row 74, Data Integrity Valid
Sum MATCHED for Row 75, Data Integrity Valid
Sum MATCHED for Row 76, Data Integrity Valid
Sum MATCHED for Row 77, Data Integrity Valid
Sum MATCHED for Row 78, Data Integrity Valid
Sum MATCHED for Row 79, Data Integrity Valid
Sum MATCHED for Row 80, Data Integrity Valid
Sum MATCHED for Row 81, Data Integrity Valid
Sum MATCHED for Row 82, Data Integrity Valid
Sum MATCHED for Row 83, Data Integrity Valid
Sum MATCHED for Row 84, Data Integrity Valid
Sum MATCHED for Row 85, Data Integrity Valid
Sum MATCHED for Row 86, Data Integrity Valid
Sum MATCHED for Row 87, Data Integrity Valid
Sum MATCHED for Row 88, Data Integrity Valid
Sum MATCHED for Row 89, Data Integrity Valid
Sum MATCHED for Row 90, Data Integrity Valid
Sum MATCHED for Row 91, Data Integrity Valid
Sum MATCHED for Row 92, Data Integrity Valid
Sum MATCHED for Row 93, Data Integrity Valid
Sum MATCHED for Row 94, Data Integrity Valid
Sum MATCHED for Row 95, Data Integrity Valid
Sum MATCHED for Row 96, Data Integrity Valid
Sum MATCHED for Row 97, Data Integrity Valid
Sum MATCHED for Row 98, Data Integrity Valid
Sum MATCHED for Row 99, Data Integrity Valid
Sum MATCHED for Row 100, Data Integrity Valid
Sum MATCHED for Row 101, Data Integrity Valid
Sum MATCHED for Row 102, Data Integrity Valid
Sum MATCHED for Row 103, Data Integrity Valid
Sum MATCHED for Row 104, Data Integrity Valid
Sum MATCHED for Row 105, Data Integrity Valid
Sum MATCHED for Row 106, Data Integrity Valid
Sum MATCHED for Row 107, Data Integrity Valid
Sum MATCHED for Row 108, Data Integrity Valid
Sum MATCHED for Row 109, Data Integrity Valid
Sum MATCHED for Row 110, Data Integrity Valid
Sum MATCHED for Row 111, Data Integrity Valid
Sum MATCHED for Row 112, Data Integrity Valid
Sum MATCHED for Row 113, Data Integrity Valid
Sum MATCHED for Row 114, Data Integrity Valid
Sum MATCHED for Row 115, Data Integrity Valid
Sum MATCHED for Row 116, Data Integrity Valid
Sum MATCHED for Row 117, Data Integrity Valid
Sum MATCHED for Row 118, Data Integrity Valid
Sum MATCHED for Row 119, Data Integrity Valid
Sum MATCHED for Row 120, Data Integrity Valid
Sum MATCHED for Row 121, Data Integrity Valid
Sum MATCHED for Row 122, Data Integrity Valid
Sum MATCHED for Row 123, Data Integrity Valid
Sum MATCHED for Row 124, Data Integrity Valid
Sum MATCHED for Row 125, Data Integrity Valid
Sum MATCHED for Row 126, Data Integrity Valid
Sum MATCHED for Row 127, Data Integrity Valid
Sum MATCHED for Row 128, Data Integrity Valid
Sum MATCHED for Row 129, Data Integrity Valid
Sum MATCHED for Row 130, Data Integrity Valid
Sum MATCHED for Row 131, Data Integrity Valid
Sum MATCHED for Row 132, Data Integrity Valid
Sum MATCHED for Row 133, Data Integrity Valid
Sum MATCHED for Row 134, Data Integrity Valid
Sum MATCHED for Row 135, Data Integrity Valid
Sum MATCHED for Row 136, Data Integrity Valid
Sum MATCHED for Row 137, Data Integrity Valid
Sum MATCHED for Row 138, Data Integrity Valid
Sum MATCHED for Row 139, Data Integrity Valid
Sum MATCHED for Row 140, Data Integrity Valid
Sum MATCHED for Row 141, Data Integrity Valid
Sum MATCHED for Row 142, Data Integrity Valid
Sum MATCHED for Row 143, Data Integrity Valid
Sum MATCHED for Row 144, Data Integrity Valid
Sum MATCHED for Row 145, Data Integrity Valid
Sum MATCHED for Row 146, Data Integrity Valid
Sum MATCHED for Row 147, Data Integrity Valid
Sum MATCHED for Row 148, Data Integrity Valid
Sum MATCHED for Row 149, Data Integrity Valid
Sum MATCHED for Row 150, Data Integrity Valid
Sum MATCHED for Row 151, Data Integrity Valid
Sum MATCHED for Row 152, Data Integrity Valid
Sum MATCHED for Row 153, Data Integrity Valid
Sum MATCHED for Row 154, Data Integrity Valid
Sum MATCHED for Row 155, Data Integrity Valid
Sum MATCHED for Row 156, Data Integrity Valid
Sum MATCHED for Row 157, Data Integrity Valid
Sum MATCHED for Row 158, Data Integrity Valid
Sum MATCHED for Row 159, Data Integrity Valid
Sum MATCHED for Row 160, Data Integrity Valid
Sum MATCHED for Row 161, Data Integrity Valid
Sum MATCHED for Row 162, Data Integrity Valid
Sum MATCHED for Row 163, Data Integrity Valid
Sum MATCHED for Row 164, Data Integrity Valid
Sum MATCHED for Row 165, Data Integrity Valid
Sum MATCHED for Row 166, Data Integrity Valid
Sum MATCHED for Row 167, Data Integrity Valid
Sum MATCHED for Row 168, Data Integrity Valid
Sum MATCHED for Row 169, Data Integrity Valid
Sum MATCHED for Row 170, Data Integrity Valid
Sum MATCHED for Row 171, Data Integrity Valid
Sum MATCHED for Row 172, Data Integrity Valid
Sum MATCHED for Row 173, Data Integrity Valid
Sum MATCHED for Row 174, Data Integrity Valid
Sum MATCHED for Row 175, Data Integrity Valid
Sum MATCHED for Row 176, Data Integrity Valid
Sum MATCHED for Row 177, Data Integrity Valid
Sum MATCHED for Row 178, Data Integrity Valid
Sum MATCHED for Row 179, Data Integrity Valid
Sum MATCHED for Row 180, Data Integrity Valid
Sum MATCHED for Row 181, Data Integrity Valid
Sum MATCHED for Row 182, Data Integrity Valid
Sum MATCHED for Row 183, Data Integrity Valid
Sum MATCHED for Row 184, Data Integrity Valid
Sum MATCHED for Row 185, Data Integrity Valid
Sum MATCHED for Row 186, Data Integrity Valid
Sum MATCHED for Row 187, Data Integrity Valid
Sum MATCHED for Row 188, Data Integrity Valid
Sum MATCHED for Row 189, Data Integrity Valid
Sum MATCHED for Row 190, Data Integrity Valid
Sum MATCHED for Row 191, Data Integrity Valid
Sum MATCHED for Row 192, Data Integrity Valid
Sum MATCHED for Row 193, Data Integrity Valid
Sum MATCHED for Row 194, Data Integrity Valid
Sum MATCHED for Row 195, Data Integrity Valid
Sum MATCHED for Row 196, Data Integrity Valid
Sum MATCHED for Row 197, Data Integrity Valid
Sum MATCHED for Row 198, Data Integrity Valid
Sum MATCHED for Row 199, Data Integrity Valid
Sum MATCHED for Row 200, Data Integrity Valid
Sum MATCHED for Row 201, Data Integrity Valid
Sum MATCHED for Row 202, Data Integrity Valid
Sum MATCHED for Row 203, Data Integrity Valid
Sum MATCHED for Row 204, Data Integrity Valid
Sum MATCHED for Row 205, Data Integrity Valid
Sum MATCHED for Row 206, Data Integrity Valid
Sum MATCHED for Row 207, Data Integrity Valid
Sum MATCHED for Row 208, Data Integrity Valid
Sum MATCHED for Row 209, Data Integrity Valid
Sum MATCHED for Row 210, Data Integrity Valid
Sum MATCHED for Row 211, Data Integrity Valid
Sum MATCHED for Row 212, Data Integrity Valid
Sum MATCHED for Row 213, Data Integrity Valid
Sum MATCHED for Row 214, Data Integrity Valid
Sum MATCHED for Row 215, Data Integrity Valid
Sum MATCHED for Row 216, Data Integrity Valid
Sum MATCHED for Row 217, Data Integrity Valid
Sum MATCHED for Row 218, Data Integrity Valid
Sum MATCHED for Row 219, Data Integrity Valid
Sum MATCHED for Row 220, Data Integrity Valid
Sum MATCHED for Row 221, Data Integrity Valid
Sum MATCHED for Row 222, Data Integrity Valid
Sum MATCHED for Row 223, Data Integrity Valid
Sum MATCHED for Row 224, Data Integrity Valid
Sum MATCHED for Row 225, Data Integrity Valid
Sum MATCHED for Row 226, Data Integrity Valid
Sum MATCHED for Row 227, Data Integrity Valid
Sum MATCHED for Row 228, Data Integrity Valid
Sum MATCHED for Row 229, Data Integrity Valid
Sum MATCHED for Row 230, Data Integrity Valid
Sum MATCHED for Row 231, Data Integrity Valid
Sum MATCHED for Row 232, Data Integrity Valid
Sum MATCHED for Row 233, Data Integrity Valid
Sum MATCHED for Row 234, Data Integrity Valid
Sum MATCHED for Row 235, Data Integrity Valid
Sum MATCHED for Row 236, Data Integrity Valid
Sum MATCHED for Row 237, Data Integrity Valid
Sum MATCHED for Row 238, Data Integrity Valid
Sum MATCHED for Row 239, Data Integrity Valid
Sum MATCHED for Row 240, Data Integrity Valid
Sum MATCHED for Row 241, Data Integrity Valid
Sum MATCHED for Row 242, Data Integrity Valid
Sum MATCHED for Row 243, Data Integrity Valid
Sum MATCHED for Row 244, Data Integrity Valid
Sum MATCHED for Row 245, Data Integrity Valid
Sum MATCHED for Row 246, Data Integrity Valid
Sum MATCHED for Row 247, Data Integrity Valid
Sum MATCHED for Row 248, Data Integrity Valid
Sum MATCHED for Row 249, Data Integrity Valid
Sum MATCHED for Row 250, Data Integrity Valid
Sum MATCHED for Row 251, Data Integrity Valid
Sum MATCHED for Row 252, Data Integrity Valid
Sum MATCHED for Row 253, Data Integrity Valid
Sum MATCHED for Row 254, Data Integrity Valid
Sum MATCHED for Row 255, Data Integrity Valid
Sum MATCHED for Row 256, Data Integrity Valid
Sum MATCHED for Row 257, Data Integrity Valid
Sum MATCHED for Row 258, Data Integrity Valid
Sum MATCHED for Row 259, Data Integrity Valid
Sum MATCHED for Row 260, Data Integrity Valid
Sum MATCHED for Row 261, Data Integrity Valid
Sum MATCHED for Row 262, Data Integrity Valid
Sum MATCHED for Row 263, Data Integrity Valid
Sum MATCHED for Row 264, Data Integrity Valid
Sum MATCHED for Row 265, Data Integrity Valid
Sum MATCHED for Row 266, Data Integrity Valid
Sum MATCHED for Row 267, Data Integrity Valid
Sum MATCHED for Row 268, Data Integrity Valid
Sum MATCHED for Row 269, Data Integrity Valid
Sum MATCHED for Row 270, Data Integrity Valid
Sum MATCHED for Row 271, Data Integrity Valid
Sum MATCHED for Row 272, Data Integrity Valid
Sum MATCHED for Row 273, Data Integrity Valid
Sum MATCHED for Row 274, Data Integrity Valid
Sum MATCHED for Row 275, Data Integrity Valid
Sum MATCHED for Row 276, Data Integrity Valid
Sum MATCHED for Row 277, Data Integrity Valid
Sum MATCHED for Row 278, Data Integrity Valid
Sum MATCHED for Row 279, Data Integrity Valid
Sum MATCHED for Row 280, Data Integrity Valid
Sum MATCHED for Row 281, Data Integrity Valid
Sum MATCHED for Row 282, Data Integrity Valid
Sum MATCHED for Row 283, Data Integrity Valid
Sum MATCHED for Row 284, Data Integrity Valid
Sum MATCHED for Row 285, Data Integrity Valid
Sum MATCHED for Row 286, Data Integrity Valid
Sum Integrity Check Successful, the value of flags is 0
Form 20 READY FOR CONVERSION TO .XLSX
FORM 20 Successfully Converted
(287, 26)

,S.No.,P.S.No.,Constituency,SP,BJP,RSSP,SBSP,RBP,BSCP,RKP,PSP,JAP,IND ( Ashok Kumar ),IND ( Indrapal ),IND ( Parvati Nandan ),IND ( Satendra Kumar Panda ),IND ( Hari Om ),IND (TOTAL),NOTA,Total Valid Votes,Male,Female,Others,Total,No. of Ten-dered Voters,Rejected Votes
0,1,1,Etah,114,546,6,3,3,0,0,0,0,1,0,4,2,21,28,6,700,330,376,0,706,0,0
1,2,2,Etah,301,375,3,0,0,0,1,1,2,0,0,3,0,8,11,11,694,410,295,0,705,0,0
2,3,3,Etah,259,180,1,0,0,0,1,0,0,0,2,10,0,4,16,7,457,209,255,0,464,0,0
3,4,4,Etah,154,306,0,0,0,0,0,1,1,0,0,1,3,4,8,5,470,263,212,0,475,0,0
4,5,5,Etah,85,462,6,2,0,2,1,1,0,1,2,2,3,14,22,11,581,329,263,0,592,0,0
5,6,6,Etah,51,450,5,1,0,0,1,2,1,1,1,0,1,19,22,4,533,295,242,0,537,0,0
6,7,7,Etah,276,289,4,0,0,1,1,3,0,1,1,1,2,9,14,5,588,292,301,0,593,0,0
7,8,8,Etah,212,450,4,3,0,0,1,0,0,2,0,1,6,18,27,7,697,379,325,0,704,0,0
8,9,9,Etah,51,595,10,0,0,0,1,0,1,0,0,6,3,9,18,4,676,342,338,0,680,0,0
9,10,10,Etah,285,304,2,2,0,1,1,4,1,0,0,4,1,4,9,4,609,314,299,0,613,0,0
10,11,11,Etah,87,509,2,2,0,0,2,1,1,2,1,2,4,7,16,7,620,329,298,0,627,0,0
11,12,12,Etah,156,301,7,2,2,0,2,0,2,0,1,1,3,1,6,0,478,226,252,0,478,0,0
12,13,13,Etah,49,625,9,0,1,1,1,1,0,0,4,5,2,14,25,2,712,377,337,0,714,0,0
13,14,14,Etah,99,435,7,1,0,3,0,2,4,1,1,3,1,2,8,3,559,307,255,0,562,0,0
14,15,15,Etah,277,183,5,0,0,0,0,0,0,0,0,0,0,1,1,1,466,245,221,1,467,0,0